body {
  background-image: url('assets/img/Imagen1.jpg'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen de fondo */
  background-size: cover; /* Hace que la imagen se ajuste al tamaño del body, cubriendo todo el espacio disponible */
  background-repeat: no-repeat; /* Evita que la imagen se repita en el fondo */
  background-position: center; /* Centra la imagen horizontal y verticalmente en el body */
  min-height: 100vh; /* Establece la altura mínima para asegurarse de que la imagen de fondo cubra todo el viewport */
  margin: 0; /* Elimina los márgenes predeterminados del body */
  padding: 0; /* Elimina el padding predeterminado del body */
}

#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Estilo para el contenedor del borde circular */
.circle-border {
  border-radius: 50%; /* Hace que el contenedor sea circular */
  border: 4px solid #ebca6d; /* Establece el grosor y el color del borde */
  overflow: hidden; /* Oculta cualquier contenido que se salga del círculo */
  width: 130px; /* Ajusta el tamaño del contenedor según tus necesidades */
  height: 80px;
  background-color: #d9e5da;
}

/* Estilo para la imagen dentro del contenedor */
.circle-border img {
  background-color: #d9e5da;
  width: 65%; /* Ajusta el tamaño de la imagen para que ocupe todo el contenedor */
  height: 100%;
  object-fit: cover; /* Ajusta la imagen dentro del contenedor sin deformarla */
}
